.header {
  opacity: 0.7;
  margin-bottom: 80px;
}

.headerContainer {
  margin: 0 auto;
  max-width: 960;
  padding: 40px;
  text-align: center;
  text-shadow: 10px 10px black;
}

h1 {
  margin: 0;
}
