h1 {
  color: white;
  font-size: 64px;
  margin-bottom: 50px;
}
a {
  margin-right: 15px;
}

p {
  font-size: 48px;
  line-height: 1.2;
  max-width: 1000px;
  color: white;
  margin-bottom: 50px;
  text-shadow: 2px 2px 3px grey;
}

.facePic {
  border-radius: 50%;
  border: 5px solid grey;
  height: 250px;
  width: 250px;
  background: black;
  margin-bottom: 20px;

  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}
