@import url("https://fonts.googleapis.com/css?family=Signika:700&display=swap");
@import "./partials/reset";

body {
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Signika", sans-serif;
}

img {
  height: 32px;
  width: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Signika", sans-serif;
}
